body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}
.dropdown{
	margin-right: 10px;
}
.dropdown-toggle{
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;



}
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}
.job-desc{
	width: 700px;
	height: 400px;
}

.job-payment {
	width: 60%;
	
}
.city{
	width: 70px;
	height: 40px;
}
.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.job{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.myregister{
	margin: 8px;
}

/* #cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
} */

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 300PX;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

/* .cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

} */

.hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}
/**
* Nav
*/

/* .navbar {
    text-transform: uppercase;
} */

    .navbar .is-dark {
        background: #444;
    }

.my-account-color{
	color: rgba(255,255,255,.55)
}

/**
* Footer 
*/

.footer a {
    margin-bottom: 15px;
    display: inline-block;
    color: #444;
}

/**
* Bulma overrides
*/

.input, .button {
    border-radius: 0;
}

/**
 * Product list item
 */

.product-list-item .box .subtitle {
    margin-bottom: 0;
}

.product-list-item .box .price {
    color: #888;
}


  .disabled{
	  pointer-events: auto !important;
  }

  .rating-star-navbar{
	margin-top: 2px;
  }
  
  .rating-star-navbar i{
	color: #ffb503 !important;
  }

.rate-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 12px;
  }